<!DOCTYPE html>
<html>
<head>
  <title>__PANEL_TITLE__</title>
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen" /> 
  <link href="css/bootstrap/bootstrap.css" rel="stylesheet" media="screen" />
  <link href="css/bootstrap/bootstrap-datepicker.min.css" rel="stylesheet" media="screen" /> 
  <link href="css/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
  <link href="css/gemini-mw-theme.css" rel="stylesheet" media="screen" /> 
  <link href="css/style.css" rel="stylesheet" media="screen" />
  <link href="css/custom.css" rel="stylesheet" media="screen" />
  <link href="css/jquery.dataTables.css" rel="stylesheet" media="screen" />
  <link href="css/jquery.dataTables.min.css" rel="stylesheet" media="screen" />
  <link href="css/buttons.dataTables.min.css" rel="stylesheet" media="screen" />
</head>

<body>
  <div id="wrap">
    <!-- navbar-fixed-top -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="min-width: 520px">
      <div class="navbar-header" id="header" style="min-width: 260px; float: left;">
        <div class="navbar-brand">
          MoneyWatcher <span style="font-size: 0.65em;">Gemini Budget</span>
        </div>
      </div>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="float: left;">
        <span class="sr-only">Toggle navigation</span>
        <span class="toggle-navigation">Menu</span>
        <div class="iconbars" style="margin-left: 10px; float: left;">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" style="float: left;">
        <ul id='nav_bar_left' class="nav navbar-nav">
          <!-- use js to insert nav tabs into here-->
        </ul>
      </div>

      <div class="" style="float: right; margin-right: 21px">
        <ul id='nav_bar_right' class="nav navbar-nav">
          <li id="nav_timezone" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                EST<b class="caret"></b>
              </a>
              <ul id="navddm_timezone" class="dropdown-menu">
                <li class="timezone-option">
                  <a id="nav_timezone" href="#" data-toggle="tab">EST</a>
                </li>
                <li class="timezone-option">
                  <a id="nav_timezone" href="#" data-toggle="tab">UTC</a>
                </li>
                <li class="timezone-option">
                  <a id="nav_timezone" href="#" data-toggle="tab">LOCAL</a>
                </li>
              </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- Begin page content -->
    <div id="nav_content" class="tab-content" style="margin-top:73px">
    <!-- use js to insert nav content into here -->      
    </div>
  </div>
  <!-- https://github.com/xsanisty/jquery-calx -->
  <div id="calx_div" class="hide">
    <input id="calx_value" data-cell="R1">
  </div>

  <script type="text/javascript" src="js/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script> 
  <script type="text/javascript" src="js/jquery/jquery-calx-2.2.7.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/jquery/jquery.dataTables.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/jquery/dataTables.buttons.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/jquery/buttons.html5.min.js" charset="UTF-8"></script>
  
  <script type="text/javascript" src="js/util/highcharts.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/util/highcharts-more.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/util/exporting.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/util/drilldown.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/util/moment-with-locales.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/util/moment-timezone-with-data-2010-2020.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/util/jstz.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/util/numeral.min.js" charset="UTF-8"></script>
  
  <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="js/bootstrap/bootstrap-datetimepicker.js"></script> 
  <script type="text/javascript" src="js/bootstrap/bootstrap-datepicker.js"></script> 
  
  <script type="text/javascript" src="js/util.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/layout.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/draw.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/action.js" charset="UTF-8"></script>
  <script type="text/javascript">
    var config = __CONFIG__;
    load_config(config);

    var page = getUrlParameterByName('page');
    if(isEmpty(page)) {
        page = 'gemini';
    }

    var auto = getUrlParameterByName('auto');
    if(auto != "0") {
        $('#button_' + page).trigger('click', 'true');
    }

    $('#nav_' + page).parent().addClass('active');
    $('#pan_' + page).removeClass('fade').addClass('active');

    // update label text of the timezone dropdown immediately after making selection
    $("#navddm_timezone li a").click(function(){
      var timezone = $(this).text();
      if (!isEmpty(timezone)) {
          $("#nav_timezone > a").get(0).firstChild.nodeValue = timezone;
          updateDateTimePicker(timezone);
      }
    });
  </script>
</body>
</html>
